@using Pills.Web.ViewModels.PillTypes
@model EditPillTypeViewModel


<div class="card shadow-sm">
    <div class="card-body">

        <h3 class="text-center mb-4">
            Edit pill
        </h3>

        <form asp-action="Edit" method="Post">
            @Html.AntiForgeryToken();

            <input asp-for="Id" type="hidden" />

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="MaxAllowed" class="form-label"></label>
                <input asp-for="MaxAllowed" class="form-control" />
                <span asp-validation-for="MaxAllowed" class="text-danger"></span>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">
                    Save
                </button>
            </div>

        </form>
    </div>
</div>