@{
    ViewData["Title"] = "403 - Forbidden";
}

<h1>403</h1>
<p>You dont have access to this page.</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">
    Return to main page
</a>